:root {
  --background-secondary: #fdfdfd;
  --background: #f5f6f6;
  --accent: #3066be;
  --foreground: #000500;
  --foreground-secondary: #171c17;

  // Tipografia fluída criada com a calculadora da Utopia
  /* @link https://utopia.fyi/type/calculator?c=320,14,1.25,1240,16,1.618,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.7rem, calc(0.7rem + 0.01vw), 0.71rem);
  --step-0: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);
  --step-1: clamp(1.09rem, calc(0.98rem + 0.56vw), 1.41rem);
  --step-2: clamp(1.37rem, calc(1.15rem + 1.1vw), 2rem);
  --step-3: clamp(1.71rem, calc(1.32rem + 1.94vw), 2.83rem);

  --space-s: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  --space-m: clamp(3rem, 2.636rem + 1.82vw, 4rem);

  // Baseado na lista de fontes do Modern Font Stack
  // https://modernfontstacks.com/
  --font-display: "Roboto Seriff" serif;
  --font-body: sans-serif;

  --border-radius: 4px;

  --content-padding: 1.2rem 1rem;
  --main-padding: 1.5rem;
}
