:root {
  --white: #eff1f3;
  --blue: #3066be;
  --black: #000500;
  --gray: #171c17;

  // Tipografia fluída criada com a calculadora da Utopia
  /* https://utopia.fyi/type/calculator?c=320,18,1.25,1240,22,1.618,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.85rem, calc(0.92rem + -0.09vw), 0.9rem);
  --step-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
  --step-1: clamp(1.41rem, calc(1.12rem + 1.42vw), 2.23rem);
  --step-2: clamp(1.76rem, calc(1.12rem + 3.2vw), 3.6rem);
  --step-3: clamp(2.2rem, calc(0.94rem + 6.31vw), 5.82rem);

  // Baseado na lista de fontes do Modern Font Stack
  // https://modernfontstacks.com/
  --font-display: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-body: font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}
