@import "reset";
@import "variables";
@import "transitions";

body {
  min-height: 100vh;
  background-color: var(--background);
  background-image: var(--background-pattern);
  line-height: 1.6;
  color: var(--foreground);
  font-size: var(--step-0);
  font-family: var(--font-body);
}

:any-link {
  color: var(--accent);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

header {
  background-color: var(--background-secondary);
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid #00000010;

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: var(--main-maxsize);
    margin-inline: auto;
    padding: 0.2rem calc(var(--main-padding) + var(--content-padding));
  }

  & h1 {
    font-size: var(--step-1);
    font-family: var(--font-display);

    & :any-link {
      color: var(--foreground);
      text-decoration: none;
    }
  }
}

h2 {
  max-width: 35ch;
  line-height: 1.1;
  font-size: var(--step-2);

  &::first-letter {
    text-transform: uppercase;
  }
}

p {
  max-width: 60ch;
}

main {
  max-width: var(--main-maxsize);
  margin: var(--space-s-m) auto;
  padding-inline: var(--main-padding);
}

.error {
  color: var(--error);
}

hr {
  border: 0;
  height: 1px;
  max-width: 80ch;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}
